Django==5.2.10
djangorestframework==3.17.1
django-filter==25.2
django-unfold==0.90.0

pillow==12.2.0
psycopg2-binary==2.9.12
dj-database-url==3.1.2

gunicorn==25.3.0

celery==5.6.3
redis==7.4.0

python-dotenv==1.2.2