{% extends "shared/base.html" %}
{% block content %}

<div class="container mt-5">

<h2>Book Villa</h2>
{{ form.errors }}
<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label>Check-in</label>
        {{ form.check_in }}
    </div>

    <div class="mb-3">
        <label>Check-out</label>
        {{ form.check_out }}
    </div>

    <div class="mb-3">
        <label>Guests</label>
        {{ form.guests }}
    </div>

    <button type="submit" class="btn btn-success">
        Book
    </button>
</form>

</div>

{% endblock %}