{% extends "shared/base.html" %}
{% block content %}

<div class="container mt-5">

<h2>My Bookings</h2>

<table class="table mt-4">
<thead>
<tr>
    <th>Villa</th>
    <th>Check-in</th>
    <th>Check-out</th>
    <th>Actions</th>
</tr>
</thead>

<tbody>

{% for booking in object_list %}

<tr>
    <td>{{ booking.villa.name }}</td>
    <td>{{ booking.check_in }}</td>
    <td>{{ booking.check_out }}</td>

    <td>

        {% if booking.can_review %}
            <a href="{% url 'review-create' booking.villa.pk %}"
               class="btn btn-primary btn-sm">
               Leave Review
            </a>
        {% endif %}

        {% if request.user == booking.user or is_moderator or request.user.is_superuser %}
             <a href="{% url 'booking-edit' booking.pk %}"
                  class="btn btn-warning btn-sm">
                  Edit
                  </a>
             <a href="{% url 'booking-delete' booking.pk %}"
                  class="btn btn-danger btn-sm">
                  Delete
             </a>
         {% endif %}

    </td>
</tr>

{% endfor %}

</tbody>
</table>

</div>

{% endblock %}