{% extends "shared/base.html" %}
{% block content %}

<div class="container mt-5">

<h2>Book Villa</h2>

<form method="post">
    {% csrf_token %}

    <div class="row">

        <div class="col-md-4">
            <label>Check-in</label>
            {{ form.check_in }}
        </div>

        <div class="col-md-4">
            <label>Check-out</label>
            {{ form.check_out }}
        </div>

        <div class="col-md-4">
            <label>Guests</label>
            {{ form.guests }}
        </div>

    </div>

    <button type="submit" class="btn btn-success mt-3">
        Book
    </button>

</form>
</div>

{% endblock %}