{% extends "shared/base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">

<h2>My Villas</h2>

<div class="row mt-4">

{% for villa in villas %}

<div class="col-md-4">

<div class="card villa-card">

{% if villa.image %}
    <img src="{{ villa.image.url }}" class="villa-img">
{% else %}
    <img src="{% static 'images/default-villa.jpg' %}" class="villa-img">
{% endif %}

<div class="card-body">

<h5>{{ villa.name }}</h5>

<p>{{ villa.location }}</p>

<a href="{% url 'villa-details-page' villa.pk %}" class="btn btn-primary btn-sm">
Details
</a>

{% if request.user == villa.owner or request.user.is_superuser or request.user.groups.all.0.name == "Moderators" %}
    <a href="{% url 'villa-edit' villa.pk %}" class="btn btn-warning btn-sm">
        Edit
    </a>

    <a href="{% url 'villa-delete' villa.pk %}" class="btn btn-danger btn-sm">
        Delete
    </a>
{% endif %}

</div>

</div>

</div>

{% endfor %}

</div>

</div>

{% endblock %}