{% extends "shared/base.html" %}

{% block content %}

<h2>Add New Villa</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>

    <div class="mb-3">
        {{ form.description.label_tag }}
        {{ form.description }}
    </div>

    <div class="mb-3">
        {{ form.price_per_night.label_tag }}
        {{ form.price_per_night }}
    </div>

    <div class="mb-3">
        {{ form.location.label_tag }}
        {{ form.location }}
    </div>

    <div class="mb-3">
        {{ form.villa_type.label_tag }}
        {{ form.villa_type }}
    </div>

    <div class="mb-3">
        {{ form.capacity.label_tag }}
        {{ form.capacity }}
    </div>

    <div class="mb-3">
        {{ form.image.label_tag }}
        {{ form.image }}
    </div>


    <h5>Amenities</h5>

    <div class="row">
        {% for checkbox in form.amenities %}
            <div class="col-md-4">
                <div class="form-check">
                    {{ checkbox.tag }}
                    <label class="form-check-label">
                        {{ checkbox.choice_label }}
                    </label>
                </div>
            </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary mt-3">
        Create Villa
    </button>

</form>

{% endblock %}