{% extends "shared/base.html" %}
{% load static %}
{% load villa_extras %}

{% block content %}

<div class="container mt-4">

<h2>Available Villas</h2>

<div class="row">


    <div class="col-md-3">

        <form method="get">


            <h5>Search</h5>
            {{ search_form.query }}

            <hr>

            <h5>Dates</h5>

            <label>Check-in</label>
            {{ filter_form.check_in }}

            <label>Check-out</label>
            {{ filter_form.check_out }}
            <h5>Price Range</h5>
            <label>Min</label>
            {{ filter_form.min_price }}

            <label>Max</label>
            {{ filter_form.max_price }}

            <hr>


            <h5>Guests</h5>
            {{ filter_form.guests }}

            <hr>


            <h5>Sort</h5>
            {{ filter_form.ordering }}

            <div class="mt-3">
                <button type="submit" class="btn btn-primary w-100">
                    Apply
                </button>

                <a href="{% url 'villa-list-page' %}" class="btn btn-secondary w-100 mt-2">
                    Reset
                </a>
            </div>

        </form>

    </div>


    <div class="col-md-9">

        <div class="row">

        {% for villa in villas %}

            <div class="col-md-6">

                <div class="card villa-card mb-4 shadow-sm">

                    {% if villa.image %}
                       <img src="{{ villa.image.url }}" class="card-img-top">
                    {% else %}
                       <img src="{% static 'images/default-villa.jpg' %}" class="card-img-top">
                    {% endif %}

                    <div class="card-body">
                        <h5>{{ villa.name }}</h5>
                        <p>{{ villa.location }}</p>
                        <p>€{{ villa.price_per_night }} per night</p>

                        <a href="{% url 'villa-details-page' villa.pk %}" class="btn btn-primary">
                           View Details
                        </a>

                    </div>

                </div>

            </div>

        {% empty %}
            <p>No villas found matching your criteria.</p>
        {% endfor %}

        </div>

    </div>

</div>

</div>

{% endblock %}